body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 28px;
}
.fexible-container{
    display: flex;
    margin: 20px 70px;
}

#mission{
    color: blue;
}

.container-stay{
    margin-right: 60px;
    width: 30%;
}

#border-stay{
border-left: 4px solid red;
padding-left: 10px ;

}

.half-width{
    width: 50%;
   

}

.half-width img{
    width: 80%;
    
}

.button-link{
    padding: 10px 30px;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

#more{
    margin-top: 40px;
   
}

.Goals{
background-color:rgb(172, 252, 225);
border-radius: 10px;
padding: 3%;


}

.Mission1{
    background-color: rgb(250, 235, 213);
    margin-right: 30px;
    border-radius: 10px;
    padding: 3%;
}

.Vission{
    background-color: rgb(173, 228, 241);
    margin-right: 30px;
    border-radius: 10px;
    padding: 3%;
}

.mission-in{
    width: 90%;
}

.mission-in img{
    width: 40%;
}

#mission-in-22{
    text-align: center;
    color: rgb(219, 13, 99);
}

#mission-in-c{
    color: rgb(5, 5, 66);
}

.dream-left{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}


.project{
    width: 50%;
    padding: 3%;

}

#image-padding{
    padding-left: 100px;
}

.project img{
    width: 80%;
}

#Global-Community{
    background-image: url(images/shapes/shape-1.png);
    background-size: 40%;
    background-position: right;
    background-repeat: no-repeat;
    
}

#Dream-Web{
    color: tomato;
   
}

#fexible-build{
    text-align: center;
}

#Future{
    color: blue;
}

.Dream-Web2{
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 170px;
        
}


footer{
    height: 160px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2px;
    
    
}

.footer-mission-font{

    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Pacifico', cursive;

    font-size: 30px;




}


#footer-mission{
    color: rgb(245, 80, 80);
    font-size: 40px;
}