body{
    font-family: 'Poppins', sans-serif;
    margin: 20px 100px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 28px;
}
.fexible-container{
    display: flex;
}

#mission{
    color: blue;
}

.container-stay{
    margin-right: 60px;
    width: 30%;
}

#border-stay{
border-left: 3px solid red;
padding-left: 10px ;

}

.half-width{
    width: 50%;

}

.half-width img{
    width: 80%;
    
}

.button-link{
    padding: 10px 30px;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#more{
    margin-top: 40px;
   
}

.Goals{
background-color:rgb(172, 252, 225);
border-radius: 10px;
padding: 2%;


}

.Mission1{
    background-color: rgb(250, 235, 213);
    margin-right: 30px;
    border-radius: 10px;
    padding: 2%;
}

.Vission{
    background-color: rgb(173, 228, 241);
    margin-right: 30px;
    border-radius: 10px;
    padding: 2%;
}

.mission-in{
    width: 100%;
}

.mission-in img{
    width: 40%;
}

#mission-in-22{
    text-align: center;
    color: rgb(219, 13, 99);
}

#mission-in-c{
    color: rgb(5, 5, 66);
}

.dream-left{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat:no-repeat ;
    width: 100%;
   
    
}